<ion-toolbar class="ion-text-center">
  <ion-title class="titulo">
    Alimentos
  </ion-title>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-segment (ionChange)="segmentChanged($event)" value="alergias">
    <ion-segment-button value="alergias" class="segmento__alergias--bordes">
      <ion-label>Alergias</ion-label>
    </ion-segment-button>
    <ion-segment-button value="evitados" class="segmento__evitados--bordes">
      <ion-label>Evitados</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="showAlergias" class="alergias ion-text-center">
    <ion-list>
      <div class="ion-text-center paginador" *ngIf="alergiesPages > 1">
        <ion-button class="boton--color" size="small" fill="outline" (click)="cambiarPaginaAllergies(-1)" [disabled]="pageNumberAlergies === 0">Anterior</ion-button>
        <span class="paginador__texto">Página: {{ pageNumberAlergies + 1 }}</span>
        <ion-button class="boton--color" size="small" fill="outline" (click)="cambiarPaginaAllergies(1)" [disabled]="pageNumberAlergies === alergiesPages - 1">Siguiente</ion-button>
      </div>
      <ion-card *ngFor="let food of allergicFoods" class="carta" clickeable (click)="abrirModalAlimento(food.data)">
        <ion-card-content class="carta__contenidoFood">
          <ion-card-title class="carta__tituloFood ion-text-center">
            <div class="titulo-contenedor">
              <app-vista-categorias [categorias]="food.data.category.categoryCode"></app-vista-categorias>
              <span class="nombreAlimento">{{ food.data.name }}</span>
              <ion-button 
                class="iconoAlergia" 
                fill="clear" 
                [color]="isAllergicFood(food.id) ? 'danger' : 'medium'" 
                (click)="RemoveAllergyAlert(food, $event)"
              >
                <ion-icon name="alert" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <div *ngIf="showEvitados" class="evitados ion-text-center">
    <ion-list>
      <ion-card *ngFor="let food of unwantedFoods" class="carta" clickeable (click)="abrirModalAlimento(food.data)">
        <ion-card-content class="carta__contenidoFood">
          <ion-card-title class="carta__tituloFood ion-text-center">
            <div class="titulo-contenedor">
              <app-vista-categorias [categorias]="food.data.category.categoryCode"></app-vista-categorias>
              <span class="nombreAlimento">{{ food.data.name }}</span>
              <ion-button 
                class="iconoDislike"
                fill="clear" 
                [color]="isUnwantedFood(food.id) ? 'danger' : 'medium'" 
                (click)="RemoveUnwantedAlert(food, $event)"
              >
              <ion-icon name="thumbs-down-sharp" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
<br><br><br>
</ion-content>
<div class="tab-bar">
  <app-app-tabs></app-app-tabs>
</div>
