<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<ion-toolbar class="ion-text-center">
  <ion-title class="titulo">Restablecer Contraseña</ion-title>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/verificar-codigo"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Restablecer Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <br>
    <div class="ion-padding">
      <div class="logo">
        <ion-img src="assets/img/logo.png"></ion-img>
      </div>
      <ion-input class="labels--bordes" type="password" label="Nueva Contraseña" label-placement="stacked" fill="outline" placeholder="Ingrese su nueva contraseña" [(ngModel)]="newPassword">
        <i class="icon ion-ios-lock" slot="start"></i>
      </ion-input>
      <br>
      <ion-input class="labels--bordes" type="password" label="Confirmar Contraseña" label-placement="stacked" fill="outline" placeholder="Confirme su nueva contraseña" [(ngModel)]="confirmPassword">
        <i class="icon ion-ios-lock" slot="start"></i>
      </ion-input>
      <br>
      <div>
        <ion-button shape="round" expand="block" class="boton__recuperar--color" (click)="resetPassword()">Restablecer Contraseña</ion-button>
      </div>
      <br>
      <ion-segment class="divider"></ion-segment>
      <br>
      <div class="registrarse">
        <ion-label>¿Recordaste tu contraseña?</ion-label>
        <ion-button class="boton__registrarse--color" fill="clear" (click)="gotoLogin()">Iniciar Sesión</ion-button>
      </div>
    </div>
  </div>
</ion-content>