

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.consumido{
  margin-left: 10px;
  font-size: 14px;
}

.meta{
  font-size: 14px;
}

  .water-section {
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    position: relative;
  }
  
  .water-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .water-section .water-amount {
    font-size: 18px;
    font-weight: bold;
    display: block;
    color: #333;
  }
  
  .water-section .water-recommendation {
    font-size: 14px;
    color: #888;
    display: block;
  }
  
  .water-intake {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .custom-button {
    background: linear-gradient(45deg, #00f2fe, #4facfe);
    color: white;
    font-weight: bold;
    border-radius: 50px;
    text-transform: uppercase;
    --background-activated: #00f2fe;
  }
  
  .water-bar {
    background: #e0f7fa;
    border-radius: 25px;
    overflow: hidden;
    height: 20px;
    width: 100%;
    position: relative;
  }
  
  .water-filled {
    background: linear-gradient(45deg, #00f2fe, #4facfe);
    height: 100%;
    border-radius: 25px;
    transition: width 1s ease-in-out;
  }
  
  
  .water-markers {
    display: flex;  
    justify-content: space-between;
    font-size: 12px;
    color: #888;
  }
  
  .meals-section {
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
  }
  
  .meals-section .section-title {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 16px;
    color: #333;
  }
  
  .meal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    background: #f5f5f5;
    border-radius: 8px;
    padding: 12px;
  }
  
  .meal:last-child {
    margin-bottom: 0;
  }

  .water-controls {
    display: flex;
    justify-content: flex-end;
    position: absolute; 
    bottom: 20px; 
    right: 0;
  }
  
  .meal-details {
    display: flex;
    flex-direction: column;
  }
  
  .meal-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .meal-calories {
    font-size: 14px;
    color: #888;
  }
  
  .breakfast {
    color: #4caf50;
  }
  
  .lunch {
    color: #ff9800;
  }
  
  .dinner {
    color: #03a9f4;
  }
  
  .snacks {
    color: #9c27b0;
  }
  
  ion-button {
    --background: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    --ripple-color: transparent;
  }
  .waterIcon {
    color: #00d8fe;
  }

  .water-label {
    margin-top: -1px;
  }


  .titulo {
    margin-right: 14vw;
    font-size: 4vw; 
    font-weight: 600;
    color: #272727;
  }
  .boton-esquina ion-icon {
    font-size: 24px;
  }
  

  .boton-esquina {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px; 
  }
  

  .botonGris{
    color: #646363;
  }


  .tab-bar {
    position: fixed;
    bottom: 0; 
    width: 100%;
    height: 70px;
  }

  ion-select {
    width: auto;
  }

  .boton-nutricion{
    color: #f58b7e;
    text-transform: capitalize;
    margin: 0;
    font-size: 16px;
  }
  